


//Colors

$primaryColor: rgb(131, 60, 197);
$secondaryColor: rgb(19, 201, 58);
$white: rgb(248, 248, 248);
$dark: rgb(34, 34, 34);

//Sizes
$size_sm: 10px;
$size_md: 15px;
$size_lg: 21px;
$size_xl: 32px;